@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    background: #F15412;
    font-family: 'Inter', sans-serif;
}